{% extends 'flatpages/default.html' %}
{% load static %}
{% load custom_filters %}

{% block idpage %}news{% endblock %}

{% block title %}
Все новости
{% endblock %}

{% block header %}
Все новости на текущий момент
{% endblock %}

{% block count %}
Всего новостей: {{ posts|length}}
{% endblock %}

{% block image %}
{% static 'assets/news.jpg' %}
{% endblock %}

{% block content %}
<hr>
{% for post in posts %}

    <h2 class="fw-bolder mb-4 mt-5">{{ post.title|censor:'*' }}</h2>
    <p class="text-muted fst-italic mb-2">Дата публикации: {{ post.dateCreated|date:'d-m-Y H:i' }}</p>
    <p class="fs-5 mb-4">{{ post.text|censor:'*'|truncatechars:50 }}</p>
    <p class="block-btn"><a class="btn" href="{% url 'post' post.pk %}">Читать новость</a></p>
    <hr>
{% endfor %}
{% endblock %}